<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
  <div class="form-group">
    <label for="">用户名</label>
    <input type="input" name="user" class="form-control"  placeholder="Username">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">密码：</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="">信息：</label>
      <div>{{ g.messages }}</div>
  </div>
  <button type="submit" class="btn btn-primary">提交</button>
</form>
</body>
</html>